/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text&display=swap');
*{
    font-family: 'Jura';
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
   
}
body{
    background-image: url('./app/Assets/photo-1611659934318-06fd70ced53c.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


/* This is the styling for the music match container, for some reason it wouldn't
 pull from the css linked to the componenet */

 .matchMakerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-bottom-left-radius: 50%;
   
}


button.mat-focus-indicator.mattButton.mat-fab.mat-button-base.mat-accent {
    margin: 50px;
}

.trackAlbumImage{
    width:auto;
    height: 500px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

a{
    text-decoration: none;
    color: black;
    text-align: center;

}
a:hover{
    color: white;
}

p{
    font-size: 18px;
    padding-top: 10px;
    
}
