

 
<div class ="matchMakerContainer">
    <button mat-fab class='mattButton'>No</button>
    <div  class="matchMakerButton" class = "matchMakerDiv" *ngIf = "track" >
        <img class= "trackAlbumImage" src="{{track.album.images[0].url}}" >
        <p> {{track.name}}</p>
        <p> {{track.album.artists[0].name}} </p>
        <p> {{track.album.name}} </p>
        <audio controls preload loop src="{{track.preview_url}}"></audio>

        <a href="{{track.external_urls.spotify}}"> 
            <p>Want to hear more? Click here to open the song in spotify</p>
        </a>
    </div>  
  
    <button  class="matchMakerButton" mat-fab class='mattButton'>Yes</button>
   
</div>


