
.matchMakerDiv {
    width: 496px;
    height: auto;
    background-color: #78CED6;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
};
