
/* all other styles for this page for some reason would not pull from this css file,
they are in the global styles.css file  */

.matchMakerDiv {
    width:75vw;
    height: auto;
    background-color: #78CED6;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    box-shadow: 10px 10px 10px 10px rgba(3, 3, 3, .7);
};



button.mat-focus-indicator.mattButton.mat-fab.mat-button-base.mat-accent {
    margin: 25px;
}

button.mat-focus-indicator.mattButton.mat-fab.mat-button-base.mat-accent.yesButton:hover{
    background-color: green;
    color: white;
} 

button.mat-focus-indicator.mattButton.mat-fab.mat-button-base.mat-accent.noButton:hover{
    background-color: red;
    color: white;
} 


@media only screen and (min-width: 768px) {
    .matchMakerDiv{
        margin-top: 55px;
        width: 65vw;
    }
    

}

@media only screen and (min-width: 1024px) {


    .matchMakerDiv {
        width:500px;
        margin-top: 25px;
    };

    button.mat-focus-indicator.mattButton.mat-fab.mat-button-base.mat-accent {
        margin: 25px;
    }

    button.mat-focus-indicator.mattButton.mat-fab.mat-button-base.mat-accent.yesButton:hover{
    background-color: green;
    color: white;
} 

    button.mat-focus-indicator.mattButton.mat-fab.mat-button-base.mat-accent.noButton:hover{
    background-color: red;
    color: white;
} 

}