.navContainer {
    min-width: 100vh;

}

.navButton{
    width: 100px;
    padding: 5px;
    border-radius: 20px;
    background-color: #78CED6;
    border: none;
    margin-left: 15px;
}

.navLinks{
    text-decoration: none;
    color: black;
}


.userImage{
    height: 75px;
    width: 75px;
    border-radius: 50%;
    padding-left: 15px;
}
