.logInButton{
    width: 100px;
    padding: 5px;
    border-radius: 20px;
    background-color: black;
    color: #78CED6;
    border: none;
    margin-right: 10px;
}

.spotifyLogo{
    width:100px
}
