
.logInButton{
    width: 300px;
    height: 50px;
    padding: 5px;
    border-radius: 20px;
    background-color: black;
    color: #78CED6;
    border: none;
    margin:15px;
}

.spotifyLogo{
    width: auto;
    height: 500px;
    
}

.loginButtonDiv{
    display: flex;
    align-items: center;
    flex-direction: column;
}
