<div class = "aboutContainer">
    <h1>What is Swipify?</h1>
    <p>Swipify is a platform that gets people out of their music comfort zones by comparing songs and audio features of those songs. As a group of music enthusiast we're always on the hunt for new music to listen to, We want to create a place where what songs and artist you like are truly tailored to you.</p>
    <h1>Why did we want to create this platform?</h1>
    <p>We want to help people expand their music taste in a way that they normally wouldn't. Plus who doesn't love swiping yes and no to things?</p>
    <h1>Who is your targeted users?</h1>
    <p>Anyone who is as passionate about music as us and wants to expand their music taste instead of listening to the same old same old!</p>
    <h1>How does it all work?</h1>
    <p>It's simple really! We provide a list of top tracks from several different genres that you can swipe right or left on.We take the tracks you swiped right on and pull the audio features from them as well as push them to your user profile so you don't loose the songs you've liked.On your user profile you can see a pie chart of the averages of the tracks you've liked audio features. We then send two random songs you've liked as well as two random audio features from those tracks to spotify's api to give you recommended tracks that spotify think's you'll enjoy based off the two we send to them.From there you can add a recommended track to your liked songs, then we take the song you added to your liked songs and push it up to the home pages songs for other people to swipe right or left on!</p>
    <h1>Who worked on swipify?</h1>
    <div class="devContainer">
        <p>Ami Ross</p>
        <img src="../Assets/Ami.png">
        <a href="https://www.linkedin.com/in/ami-ross/">Linkedin</a>
        <a href="https://github.com/AmiRoss27">GitHub</a>
        <p>Mitchell Rhodes</p>
        <img src="../Assets/Mitch.png">
        <a href="https://www.linkedin.com/in/mitchell-rhodes-420332206/">Linkedin</a>
        <a href="https://github.com/MitchellRhodes">GitHub</a>
    </div>
</div>

