.searchInput{
    width: 250px;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
}

.search__button{
    width: 100px;
    padding: 5px;
    border-radius: 20px;
    background-color: #78CED6;
    border: none;
}

