.searchResultsContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchHeader{
    display: flex;
    justify-content: space-evenly;
    color: black;
    margin-top: 20px;
}


.trackInfo{
    color: black;
    font-size: 10px;
}

.searchResultsList{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    width:100%;
    margin-top: 150px;
    padding: 0;
    
   
   
}

.searchResultsItem{
    border: 1px solid black;
    margin: 5px;
    background-color: rgba(120, 206, 214, .8) ;
    width: 40vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 50px;
    box-shadow: 5px 5px 5px 5px rgba(3, 3, 3, .5) 
}


.searchImage{
    height: 75px;
    width: 75px;
    margin: 20px;
}

.alertBox{
    display: block;
    position: fixed;
    top: 100px;
    left: 80%;
    background-color: rgba(120, 206, 214, .9) ;
    transform: translateX(-50%);
    min-width: 250px;
    min-height: 110px;
    text-align: center;
    box-shadow: 5px 5px 5px 5px rgba(3, 3, 3, .5);
    border-radius: 25px;
}

.alertBoxText{
    padding: 10px;
    margin: 10px;
}

button{
    width: 100px;
    padding: 5px;
    border-radius: 20px;
    background-color: #0c0c0c;
    color: white;
    border: none;
    margin: 20px;
    box-shadow: 5px 5px 5px 5px rgba(27, 72, 77, 0.5) 
}

button:hover{
    background-color: white;
    color: black;
}