
.searchHeader{
    display: flex;
    justify-content: space-evenly;
    color: black;
    margin-top: 20px;
}


.trackInfo{
    color: black;
    margin: 25px;
}

.searchResultsList{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    
   
   
}

.searchResultsItem{
    border: 1px solid black;
    margin: 10px;
    background-color: rgba(120, 206, 214, .8) ;
    width: 30vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 50px;
    box-shadow: 5px 5px 5px 5px rgba(3, 3, 3, .5) 
}

.searchImage{
    height: 200px;
    width: 200px;
    margin: 20px;
}

.alertBox{
    display: block;
    position: fixed;
    top: 100px;
    left: 80%;
    background-color: rgba(120, 206, 214, .9) ;
    transform: translateX(-50%);
    min-width: 250px;
    min-height: 110px;
    text-align: center;
    box-shadow: 5px 5px 5px 5px rgba(3, 3, 3, .5);
    border-radius: 25px;
}

.alertBoxText{
    padding: 10px;
    margin: 10px;
}

button{
    width: 100px;
    padding: 5px;
    border-radius: 20px;
    background-color: #78CED6;
    border: none;
    margin: 20px;
    box-shadow: 5px 5px 5px 5px rgba(27, 72, 77, 0.5) 
}

button:hover{
    background-color: white;
}