.userProfile {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 15px;
  margin-bottom: 20px;

  display: flex;
  align-items: center;
  
}

.welcome{
  color:  white; 
  margin: 10px;
}

h2{
  text-align: center;
  color: white;
}

.userProfleImage{
  border-radius: 50%;
  width: 100px;
}

/* all three div stlying */
.box{
  min-height: 200px;
  background-color: rgba(120, 206, 214, .8) ;
  box-shadow: 5px 5px 5px 5px rgba(3, 3, 3, .5);
  border: 1px solid black;
  margin: 5px;

}

/* liked tracks div styling */


table {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

tr {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

tr.likedTracksList {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.likedSongsLables{
  background-color: rgba(120, 206, 214, .8);
  
}


.likedTrackImage{
  height: 100px;
  width: 100px;
  margin: 25px;
 
}

p{
  padding: 10px;
}


.removeButton{
    border-radius: 20px;
    margin: 10px;
    background-color: #0c0c0c;
    color: white;
    border: none;
    box-shadow: 3px 3px 3px 3px rgba(3, 3, 3, .5) 
}

button:hover{
  background-color: white;
  color: black;
}

hr{
  width: 100%;
}

/* recommended div styling */

.recommendedResults{
  border: 1px solid black;
  margin: 5px;
  background-color: rgba(120, 206, 214, .8) ;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 50px;
  box-shadow: 5px 5px 5px 5px rgba(3, 3, 3, .5) 
}

.recommendedImage{
  height: 200px;
  width: 200px;
  margin: 20px;
}

.recommendedInfo{
  color: black;
  margin: 25px;
}

.recommendedList{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding-inline-start: 0;
}

.addButton{
  border-radius: 20px;
  background-color: #0c0c0c;
  color: white;
  border: none;
  padding: 10px;
  margin: 10px;
  box-shadow: 5px 5px 5px 5px rgba(27, 72, 77, 0.5) 
}

.dataStatsChart{
  display: block;
  width: 500px;
  height: 500px;

}

.recommendedAlertBox{
  display: block;
  position: fixed;
  top: 135px;
  left: 70%;
  background-color: rgba(120, 206, 214, .9) ;
  transform: translateX(-50%);
  min-width: 250px;
  min-height: 110px;
  text-align: center;
  box-shadow: 5px 5px 5px 5px rgba(3, 3, 3, .5);
  border: 1px solid black;
  border-radius: 25px;
}

.recommendedAlertBoxText{
  padding: 10px;
  margin: 10px;
}


@media only screen and (min-width: 768px) {


.userInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chart{
  width: 75%;
}


}

@media only screen and (min-width: 1024px) {

  .box {
    width: 50%;
  }

  .likedTracksDiv{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .likedTable{
    padding: 10px;
  }
  
  .removeButton{
    margin: 50px;
    width: 100px;
  }

  .recommendedResults{
    margin: 10px;
    width: 30vw;
  }

  table {
    display: table;
  }
  
  tr {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
  }
  
  tr.likedTracksList {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
  }

  .recommendedAlertBox{
    left: 80%;
  }
  
}

   