.userProfile {
  margin: 15px;
}

.welcome{
  color:  white;
}

.userImage{
  border-radius: 50%;
  width: 100px;
}


.block1 {
  height: 200px;
  background-color: aqua;
  margin: 8.5px;
}

.block2 {
  height: 200px;
  background-color: aqua;
  margin: 8.5px;
}

.profile {
  width:92vw;
  position: fixed;
}

.playlist {
  padding: 5px;
}


