.userProfile {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 15px;
  margin-bottom: 20px;

  position: relative;
  
}

.welcome{
  color:  white;
  float: right;
  position: absolute;
  right:0;
  bottom: 0;
  margin: 0;

  
}

.userImage{
  border-radius: 50%;
  width: 100px;
}

.box{
  min-height: 200px;
  background-color: rgba(120, 206, 214, .5) ;
  margin: 20px;

}

.likedTable{
  padding: 10px;
}


.likedSongsLables{
  background-color: rgba(120, 206, 214, .5);
  
}

tr{
  border-bottom: 5px solid white;

}

.likedTrackImage{
  height: 100px;
  width: 100px;
 
}

p{
  padding: 10px;
}

.block3 {
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
  margin-right:35px;
}

.profile {
  width:100vw;
  
}

.playlist {
  padding: 5px;
  width: 75%;
}


@media only screen and (min-width: 768px) {


.userInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  width: 75%;
}


}

@media only screen and (min-width: 1024px) {

  .box {
    width: 50%;
  }

}

   